* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root {
  --text-color: #000;
  --second-color: #6d98baff;
  --main-color: #bb8588ff;
  --bg-color: #fbfbfbff;
  --big-font: 4rem;
  --h3-font: 3rem;
  --p-font: 1.1rem;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.logo {
  width: 100px;
  max-width: 100%;
  height: auto;
}
header {
  padding: 5px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: var(--bg-color);
  width: 100%;
  box-shadow: 2px 50px 88px -26px rgba(0, 0, 0, 0.45);
}
.nav-links {
  padding: 10px 28px;
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--text-color);
  transition: all ease;
}
.nav-links:hover {
  color: var(--main-color);
}
.container {
  padding: 100px 8%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-text {
  max-width: 500px;
  width: 100%;
}
.main-text h3 {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
  padding: 10px 0 5px;
}
.main-text h1 {
  font-size: var(--big-font);
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 10px;
}
.main-text p {
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 2;
  letter-spacing: 2;
  color: #707070;
}
.home-image {
  width: 370px;
  max-width: 100%;
  height: auto;
}

/* about section */
section {
  padding: 80px 8%;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  background-color: var(--second-color);
}
.item1 {
  flex-basis: 60%;
}
.about-image {
  border-radius: 50%;
  border: 12px solid rgb(255, 255, 255);
}
.about-text {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 500;
  text-decoration-line: underline;
}
.about-paragraph span {
  color: var(--bg-color);
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 22px;
}
.about-paragraph {
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.589);
  font-size: var(--p-font);
  line-height: 1.1;
  display: inline-block;
}

/* *family work */
.family-work {
  background-color: #211e1e;
}
.family-work h3,
.his-family h3,
.his-social-media h4 {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 500;
  text-decoration-line: underline;
}
.wrapper {
  display: flex;
}
.family-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}
.work {
  padding-right: 20px;
}
.work h4,
.work p {
  display: flex;
  align-items: flex-start;
}
.work h4 {
  color: var(--main-color);
  padding: 5px 0 10px;
}
.work p {
  color: #707070;
  font-size: 16x;
  font-weight: 300;
  padding: 5px 0 10px;
}

/* *His family */
.his-family,
.his-social-media {
  padding: 80px 17%;
}
.his-family h3 {
  color: #7c7c7c;
}

.his-family-wrapper {
  display: flex;
  flex-direction: column;
}
.hisfamily1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.his-family-img {
  padding-right: 40px;
}
.family-text h4,
.family-text p {
  display: flex;
  padding: 10px 0;
}
.family-text h4 {
  font-size: 20px;
  font-weight: 500;
}
.family-text p {
  color: #737373;
  font-size: 1rem;
  font-weight: 300;
}

/* *His Social Media */
.his-social-media {
  background-color: #211e1e;
}

.his-social-media-wrapper-top-wrapper {
  display: flex;
  justify-content: space-between;
}
.his-social-media-wrapper {
  max-width: 300px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.his-social-media-wrapper h5 {
  border-bottom: 1px solid #ddd;
  font-size: 2rem;
  font-weight: 400;
}
.his-social-media-wrapper,
.his-social-media-wrapper p {
  font-size: 1rem;
  font-weight: 300;
  border-radius: 2%;
}
.bxl-instagram,
.his-social-media-wrapper h5,
.his-social-media-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.his-social-media-wrapper button {
  text-align: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 15px 32px;
  font-size: 1.1rem;
  border: none;
  border-radius: 4%;
  text-decoration: none;
  margin-bottom: 20px;
}

.his-social-media-wrapper h5,
.his-social-media-wrapper p {
  padding: 15px 30px;
}

/* *Donation */

.donation {
  background-image: url(assets/donation-background-img.jpg);
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.donation-wrapper {
  background-color: rgb(33, 32, 32);
  opacity: 0.7;
  color: #fff;
  max-width: 404px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1%;
}
.donation-wrapper h5,
.donation-wrapper p {
  padding: 20px 40px;
}
.donation-wrapper h5 {
  font-size: 3rem;
  font-weight: 400;
}
.donation-wrapper p {
  font-size: 1.5rem;
  font-weight: 500;
}
.help {
  margin: 10px auto;
}
.donation-wrapper button {
  text-align: center;
  background-color: var(--text-color);
  color: #fff;
  padding: 20px 40px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5%;
  transform: 0.5;
}
.donation-wrapper button:hover {
  background-color: #fff;
  color: var(--main-color);
  transform: scale(2px);
}

/* *About US */
.about-us {
  padding: 40px 8%;
}

.about-us h4 {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(20, 20, 20);
  margin-bottom: 20px;
}

.about-us p {
  color: #737373;
  font-weight: 1.1rem;
}

/* *footer */
.footer {
  background-color: #211e1e;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 80px 8%;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-wrapper1 {
  flex-basis: 50%;
}

.footer-wrapper h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.fotter-form label,
.fotter-links,
.footer-wrapper2 p {
  color: #7c7c7c;
}
.footer-form {
  display: flex;
  justify-content: center;
}
.fotter-form label {
  font-size: 1.2rem;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  outline: none;
}
input[type="submit"] {
  width: 50%;
  height: 70px;
  font-size: 1.2rem;
}
